# Copy to .env in the backend and frontend folders before local development.

# Backend
PORT=443
MONGO_URI=your_mongo_uri
STEAM_API_KEY=your_stream_api_key
STEAM_API_SECRET=your_stream_api_secret
JWT_SECRET_KEY=your_jwt_secret
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:443/api
VITE_STREAM_API_KEY=your_stream_api_key
